.contenedor{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.boton-izquierdo{
    float: left;
}
.boton-derecho{
    float: left;
}

.inputContador{
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
}