.footer{
    padding-top: 35px;
    background-color: #5a5a5a;
}
.footer, .footer button{
    color: #ffffff;
}
.footer .MuiOutlinedInput-input{
    background-color: #ffffff;
}
.footer .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #ffffff;
}
.footer .MuiFormLabel-root.Mui-focused{
    color: #ffffff;
    text-shadow:0px 1px 1px #333333, 
                0px 2px 2px #333333, 
                0px 3px 2px #333333;
}
.subscribe-button{
    padding: 15px 22px !important;
    border-radius: 0 4px 4px 0 !important;
}
.subscribe-txt .MuiOutlinedInput-root{
    border-radius: 4px 0 0 4px !important;
}

.subscribe-box{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
}
.subscribe-social{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.enlaces-interes{
    list-style: none;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .subscribe-button{
        width: 100%;
    }
    .subscribe-txt{
        width: 100%;
    }
  }